.header {
	padding: 20px;
	text-align: center;
	font-size: 20px;
	display: inline-block;
	font-family: Times, Times New Roman, serif;
  
  }

.container{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	margin-bottom: 24px;
}

.btn-dark{
	background-color: #A9E0F1;
	border: 0;
	color: #000;
}

.table{	
	overflow-x: auto;
	max-width: 500px;
}

.table tr{
	display: flex;
	align-items: center;
	
}

.table td{
	width:200px;
	box-shadow: none;
	border-bottom: 0;
}

.navbar{
	background-color: #A9E0F1;
}

footer p{
	margin-bottom: 0;
	background-color: #A9E0F1;
	text-align: center;
	padding: .5rem;
	font-weight: bold;